* {
  padding: 0;
  margin: 0;
}

/* .start-button{
  position: relative;
  left: 20%;
  top: -20px;
} */

.game-container{
  text-align: center;
}

#game{
  margin: auto;
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

#character{
  width: 20px;
  height: 50px;
  background-color: rgb(162, 0, 255);
  position: relative;
  top: 149px;
}

.animate{
  animation: jump 500ms;
}

@keyframes jump{
  0%{top: 149px}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 149px;}
}

#block{
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: 129px;
  left: 478px;
  animation: block 1s infinite linear;
}

@keyframes block{
  0%{left: 478px}
  100%{left:-40px;}
}