@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";


.home-page-header{
    margin-left: -25px;
}

.post-preview:not(:first-child) { 
    margin-top: 3em;
}

.masthead{
    max-height: 26em;
}

.blog-img{
    max-width: 100%;
}

.link-highlight{
    color: #007bff;
}

.the-blueprint a{
    color: #007bff;
}

.mobile-profile-img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    border: 6.5px solid rgba(102, 178, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
  }